<%- include("partials/header") -%>

    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, at. Repellendus, maxime? Non blanditiis illum
        pariatur illo maxime inventore. Praesentium unde nostrum debitis aliquid nisi quo alias, a in corporis molestiae
        nihil illo quod laborum magnam, maxime ut porro, natus maiores facere consequuntur. Illo dicta sed repudiandae
        nisi consectetur vel at ad ex laborum illum ducimus accusantium ipsa inventore cum natus nam aliquid optio
        perferendis, veniam dolor. Commodi, hic! Deserunt beatae rem aliquid temporibus earum officia odio iusto fuga
        modi obcaecati alias aut voluptates est quibusdam, ipsa mollitia expedita eaque necessitatibus soluta quas
        voluptate! Pariatur quia saepe aliquid nam quibusdam.</p>

<%- include("partials/footer") -%>