<%- include("partials/header") -%>
  <div class="container-fluid  card-container">
    <%for(let i=0;i<m_message.length;i++){%>
      <div class="each-card ">
        <h1>
          <%= m_message[i].title %>
        </h1>
        <p id="txtalign">
          <%= m_message[i].description %>
        </p>
      </div>
      <%}%>
  </div>
  <%- include("partials/footer") -%>