@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
   font-family: 'Poppins', sans-serif;

}
.navbar-toggler {
   color: white;
   border: 0;
}

.brand-name {
   padding: 0;
}
.dimages{
   height: 30rem;
}
body {
   margin: 0 3rem;
}